@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@import "../../node_modules/leaflet/dist/leaflet.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


    --color-primary-50: #fefdfb;
    --color-primary-100: #fdfbf7;
    --color-primary-200: #fbf6ef;
    --color-primary-300: #f9f2e7;
    --color-primary-400: #f6ebda;
    --color-primary-500: #f4e7d3;
    --color-primary-600: #e1be89;
    --color-primary-700: #d09843;
    --color-primary-800: #936725;
    --color-primary-900: #493312;
    --color-primary-950: #251a09;


    --color-secondary-50: #dbf9fa;
    --color-secondary-100: #bcf3f6;
    --color-secondary-200: #74e6ec;
    --color-secondary-300: #31dae3;
    --color-secondary-400: #17a3aa;
    --color-secondary-500: #0e6266;
    --color-secondary-600: #0b4d51;
    --color-secondary-700: #093c3f;
    --color-secondary-800: #062728;
    --color-secondary-900: #031516;
    --color-secondary-950: #010909;

    --color-tertiary-50: #ffeee5;
    --color-tertiary-100: #ffdecc;
    --color-tertiary-200: #ffc09e;
    --color-tertiary-300: #ff9f6b;
    --color-tertiary-400: #ff813d;
    --color-tertiary-500: #ff620b;
    --color-tertiary-600: #d64b00;
    --color-tertiary-700: #9e3700;
    --color-tertiary-800: #6b2500;
    --color-tertiary-900: #331200;
    --color-tertiary-950: #190900;



    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

*:focus {
    outline: none !important;
}

/* If you need focus indicators for accessibility, use a different style */
*:focus-visible {
    outline: none !important;
    outline-offset: 0 !important;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
